/* .btn-outline-success .btn-outline-success:hover .btn-outline-success:visited  .btn-outline-success:active{
    background-color: #66B2B9 !important;
    color: #66B2B9 !important;
} */

.searchBtn{
    background-color: #66B2B9 !important;
    color: white !important;
}